{% extends "index.html" %}

{% load staticfiles %}


{%block content%}
<style media="screen">
  .main-info{
    display: flex;
    height: 350px;
    flex-wrap: wrap;
  }



    @media screen and (max-width: 768px) {
      .img-box{
        width: 100%;
      }

      .text-box{
        width: 100%;
        margin: 0;
      }

      .option-box{
        display: flex;
        flex-wrap: wrap;
        height: 140px;
        margin-top: 30px;
        margin-bottom: 30px;
        border: 1px solid #e1e1e1;
        font-family: 'Jeju Gothic', serif;
      }

      .option-box ul{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        font-size: 10px;
      }

      .my-check-box{
        zoom : 1;
      }
    }
    @media screen and (min-width: 760px){
      .img-box{
        width: 50%;
      }

      .text-box{
        width: 50%;
        padding-left: 30px;
        margin: 0;
      }

      .option-box{
        display: flex;
        flex-wrap: wrap;
        height: 250px;
        margin-top: 30px;
        margin-bottom: 30px;
        border: 1px solid #e1e1e1;
        font-family: 'Jeju Gothic', serif;
      }

      .option-box ul{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        font-size: 20px;
      }

      .my-check-box{
        zoom : 1.5;
      }
    }

  .img-box img{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
  }

  .text-box li{
    display: flex;
    align-items: center;
    height: 20%;
    font-family: 'Jeju Gothic', serif;
    font-size: 20px;
  }

  .option-box h3{
    background-color: rgb(241,196,15);
    width: 20%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }



  .option-box ul li{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input[type=checkbox]{
    margin: 0;
    margin-left: 10px;
  }


</style>
<div class="container">
  <div class="page-header">
    <h3>상세정보</h3>
  </div>

  <div class="main-info">
      <div class="img-box">
          <img src = '{{photo.image.url}}' />
      </div>
      <ul class="text-box">
        <li> 등록자 : {{photo.owner.username}}</li>
        <li> 방 이름 : {{photo.room_name}} </li>
        <li> 월 세   : {{photo.monthly}} </li>
        <li> 연락처  : {{photo.room_phone}} </li>
        <li> 주소 : {{photo.city}} {{photo.town}} {{photo.village}}</li>
      </ul>
  </div>
  <div class="option-box">

    <h3>옵션</h3>
    <ul>
      {% if photo.tv %}
        <li>tv : <input type="checkbox" class="my-check-box" checked></li>
      {% else %}
        <li>tv : <input type="checkbox" class="my-check-box" ></li>
      {% endif %}

      {% if photo.parking %}
        <li>파킹 : <input type="checkbox" class="my-check-box" checked></li>
      {% else %}
        <li>파킹 : <input type="checkbox" class="my-check-box" ></li>
      {% endif %}

      {% if photo.bed %}
        <li>침대 : <input type="checkbox" class="my-check-box" checked></li>
      {% else %}
        <li>침대 : <input type="checkbox" class="my-check-box" ></li>
      {% endif %}

      {% if photo.animal %}
        <li>동물 : <input type="checkbox" class="my-check-box" checked></li>
      {% else %}
        <li>동물 : <input type="checkbox" class="my-check-box" ></li>
      {% endif %}

      {% if photo.aricon %}
        <li>에어컨 : <input type="checkbox" class="my-check-box" checked></li>
      {% else %}
        <li>에어컨 : <input type="checkbox" class="my-check-box" ></li>
      {% endif %}

      {% if photo.washer %}
        <li>세탁기 : <input type="checkbox" class="my-check-box" checked></li>
      {% else %}
        <li>세탁기 : <input type="checkbox" class="my-check-box" ></li>
      {% endif %}

      {% if photo.freezer %}
        <li>냉장고 : <input type="checkbox" class="my-check-box" checked></li>
      {% else %}
        <li>냉장고 : <input type="checkbox" class="my-check-box" ></li>
      {% endif %}

      {% if photo.doorlock %}
        <li>도어락 : <input type="checkbox" class="my-check-box" checked></li>
      {% else %}
        <li>도어락 : <input type="checkbox" class="my-check-box" ></li>
      {% endif %}

      {% if photo.elevator %}
        <li>엘레베이터 : <input type="checkbox" class="my-check-box" checked></li>
      {% else %}
        <li>엘레베이터 : <input type="checkbox" class="my-check-box" ></li>
      {% endif %}

    </ul>
  </div>



  </div>
</div>

<a href="{% url 'jejudaum:room_list'%}">리스트로 가기</a>

{% include "comments.html" %}
</div>
<script type="text/javascript">
  var disAlbleCheckBox = document.querySelectorAll('.my-check-box');

  for(i = 0; i < disAlbleCheckBox.length; i++){
    disAlbleCheckBox[i].disabled = true;
  }
</script>

{%endblock content%}
