{% extends "index.html" %}

{% load staticfiles %}


{%block content%}
<style media="screen">
  .main-info{
    display: flex;
    height: 350px;
    flex-wrap: wrap;
  }



    @media screen and (max-width: 768px) {
      .img-box{
        width: 100%;
      }

      .text-box{
        width: 100%;
        margin: 0;
      }
    }
    @media screen and (min-width: 760px){
      .img-box{
        width: 50%;
      }

      .text-box{
        width: 50%;
        padding-left: 30px;
        margin: 0;
      }
    }

  .img-box img{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
  }



  .text-box li{
    display: flex;
    align-items: center;
    height: 25%;
    font-family: 'Jeju Gothic', serif;
    font-size: 20px;
  }
</style>
<div class="container">
  <div class="page-header">
    <h3>상세정보</h3>
  </div>

  <div class="main-info">
      <div class="img-box">
          <img src = '{{photo.image.url}}' />
      </div>
      <ul class="text-box">
        <li> 등록자 : {{photo.owner.username}}</li>
        <li> 방 이름 : {{photo.room_name}} </li>
        <li> 월 세   : {{photo.monthly}} </li>
        <li> 연락처  : {{photo.room_phone}} </li>
      </ul>
  </div>

  <p></p>

      <p>tv : {{photo.tv}}</p>
      <p>City : "{{photo.city}}"</p>

  <p>파킹:{{photo.parking}}</p>
  <p>엘레베이터:{{photo.elevator}}</p>
  <p>동물:{{photo.animal}}</p>
  <p>에어컨 : {{photo.aricon }}</p>
  <p>{{photo.washer}}</p>
  <p>{{photo.freezer}}</p>
  <p>{{photo.tv}}</p>
  <p>{{photo.doorlock}}</p>
  <p>{{photo.bed}}</p>
  <p>{{photo.city}}</p>
  <p>{{photo.town}}</p>
  <p>{{photo.village}}</p>
  </div>
</div>

<a href="{% url 'jejudaum:room_list'%}">리스트로 가기</a>

{% include "comments.html" %}
</div>


{%endblock content%}
