{% extends "index.html" %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
<div class="page-header">
  <div class="p-header">
    <h3 class="page-title">리스트</h3>
    <div class="list-btn">
      <p class="page-upload-btn"><a class="btn btn-primary" href="{% url 'menza:upload'%}">업로드</a></p>
  </div>

  </div>

</div>

<div class="test">
  {% for photo in object_list %}
  <div class="panel panel-default" align="center">
    <div class="panel-heading"><h4><a href="{% url 'menza:detail' pk=photo.pk%}">{{photo.owner.username}}</a></h4></div>
    <div class="panel-body">
      {% if photo.image.width > 800 %}
      <p><img src = '{{photo.image.url}}' />
        {% else %}
        <p><img src = '{{photo.image.url}}' />
          {% endif %}
          {{photo.comment}}</p>
      </div>
    </div>
    {% endfor %}
</div>



    <!-- pagenation nav -->
    {% if is_paginated %}
    <nav aria-label="..." class="page-nation-center">
        <ul class="pager">
          {% if page_obj.has_previous %}
          <li><a href="{%url 'menza:list'%}?page={{ page_obj.previous_page_number }}">이전</a></li>
          {% endif %}
          <li> <a href="#">페이지 {{ page_obj.number }} / {{ page_obj.paginator.num_pages }} </a></li>
          {% if page_obj.has_next %}
          <li>
            <a href="{%url 'menza:list'%}?page={{ page_obj.next_page_number }}">다음</a>
          </li>
          {% endif %}
        </ul>
    </nav>
    {% endif %}



{% endblock %}
