<!DOCTYPE html>
{% load staticfiles %}
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>jejudaum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/jejugothic.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="{% static 'css/index.css'%}">
    <style media="screen">

      .main-photo{
        height: 350px;
        background: url({% static 'img/testmain5.jpg' %});
        background-repeat: no-repeat;
        background-size: 100% 350px;
      }

    </style>
</head>
<body>
  <nav class="navbar navbar-inverse">
      <div class="container">
          <div class="collapse navbar-collapse">
              <a href="/"><img src="{% static 'img/logo.png' %}" alt="" class="logoImg navbar-brand"></a></img>
              <ul class="nav navbar-nav">
                <li class="login-hover"><a href="{% url 'menza:list'%}">제대다움</a></li>
                <li class="login-hover"><a href="{% url 'jejudaum:room_list'%}">커뮤니티</a></li>
              </ul>

              {% if user.is_active %}
              <ul class="nav navbar-nav navbar-right">
                  <li class="login-hover"><a href="#">{% firstof user.get_short_name user.get_username %}</a></li>
                  <li class="login-hover"><a href="{% url 'jejudaum:room_change'%}">내 게시글</a></li>
                  <li class="login-hover"><a href="{% url 'password_change' %}"><span class="glyphicon glyphicon-log-in"></span> 비밀번호 변경</a></li>
                  <li class="login-hover"><a href="{% url 'logout'%}"><span class="glyphicon glyphicon-pencil"></span> 로그아웃</a></li>
                  <li class="login-hover"><a href="#"><span class="glyphicon glyphicon-home"></span> 고객센터</a></li>
              </ul>
              {% else %}
              <ul class="nav navbar-nav navbar-right">
                <li class="login-hover"><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> 로그인</a></li>
                <li class="login-hover"><a href="{% url 'register'%}"><span class="glyphicon glyphicon-pencil"></span> 회원가입</a></li>
                <li class="login-hover"><a href="#"><span class="glyphicon glyphicon-home"></span> 고객센터</a></li>
              </ul>
              {% endif %}
          </div>
      </div>
  </nav>

  <div class="container-fluid">
      <div class="main-photo">

      </div>
  </div>

  {% block content %}
  {% endblock %}

  <footer class="footer">
      <p>creator: Ikjeon Lee / Kihoon Beak / Jaeju Ryu / Ahram Kim / Byeongkwan Kim</p>
      <p>contact: jejudaum@gmail.com</p>
  </footer>


</body>
</html>
